.dark-primary-color    { background: #D32F2F; }
.default-primary-color { background: #F44336; }
.light-primary-color   { background: #FFCDD2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

h1, h4 {
  display: inline;
}

h3 {
  display: none;
}

header {
  display: flex;
  justify-content: space-around;
  vertical-align: text-bottom;
}

header a {
  color: #FFF;
  padding: 1em;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (min-width: 450px){
  h3 {
    display: inline;
  }
}